<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>He thong dang ki quan li tin chi</title>
<link href="img/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.style1 {color: #AAB7BF}
.style6 {
	font-size: 16px;
	font-weight: bold;
}
-->
</style>
</head>

<body>
	<div class="container">
		<div class="header">
			<div class="left"></div>
		</div><!--end header-->
		
		<div class="navigation">
			<ul>
				<li><a href="">TRANG CHU</a><li>
				<li><a href="">PROFILE</a></li>
				<li><a href="">QLDS SINH VIEN</a></li>
				<li><a href="">QLDS GIAO VIEN</a></li>
				<li><a href="">QLDS MON HOC </a></li>
				<li><a href="">QLDS GIANG DUONG</a></li>
				
				
			</ul>
		
		 </div><!--end navigation-->
		
		<div class="main">
			<div class="content"> <span class="style6">Quan li sinh vien - Xoa sinh vien </span>
			  <table width="525" height="456" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="26">&nbsp;</td>
                  <td>A</td>
                  <td>B</td>
                  <td>C</td>
                  <td>D</td>
                  <td>E</td>
                  <td>F</td>
                  <td>G</td>
                  <td>H</td>
                  <td>I</td>
                  <td>J</td>
                  <td>K</td>
                  <td>L</td>
                  <td>M</td>
                </tr>
                <tr>
                  <td width="32" height="26">L</td>
                  <td width="28">O</td>
                  <td width="28">P</td>
                  <td width="29">Q</td>
                  <td width="42">R</td>
                  <td width="29">S</td>
                  <td width="26">T</td>
                  <td width="29">U</td>
                  <td width="51">V</td>
                  <td width="36">W</td>
                  <td width="38">X</td>
                  <td width="47">Y</td>
                  <td width="43">Z</td>
                  <td width="67">All</td>
                </tr>
                <tr>
                  <td height="19" bgcolor="#B2C1C6"><span class="style1"></span>STT</td>
                  <td height="19" bgcolor="#B2C1C6"><input type="checkbox" name="checkbox" value="checkbox" /></td>
                  <td colspan="2" bgcolor="#B2C1C6">Ma so</td>
                  <td colspan="4" bgcolor="#B2C1C6"><span class="style1"></span>Ho Ten <span class="style1"></span></td>
                  <td colspan="2" bgcolor="#B2C1C6">Ngay sinh </td>
                  <td colspan="2" bgcolor="#B2C1C6">Lop</td>
                  <td colspan="2" bgcolor="#B2C1C6">Dia chi </td>
                </tr>
                <tr>
                  <td height="19">1</td>
                  <td><input type="checkbox" name="checkbox2" value="checkbox" /></td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="4">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td height="22">2</td>
                  <td><input type="checkbox" name="checkbox3" value="checkbox" /></td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="4">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td height="20">3</td>
                  <td><input type="checkbox" name="checkbox4" value="checkbox" /></td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="4">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td height="20">4</td>
                  <td><input type="checkbox" name="checkbox5" value="checkbox" /></td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="4">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td height="23">5</td>
                  <td><input type="checkbox" name="checkbox6" value="checkbox" /></td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="4">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td height="28">6</td>
                  <td><input type="checkbox" name="checkbox7" value="checkbox" /></td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="4">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td height="25">7</td>
                  <td><input type="checkbox" name="checkbox8" value="checkbox" /></td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="4">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td height="22">8</td>
                  <td><input type="checkbox" name="checkbox9" value="checkbox" /></td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="4">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td height="26">9</td>
                  <td><input type="checkbox" name="checkbox10" value="checkbox" /></td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="4">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td height="24">10</td>
                  <td><input type="checkbox" name="checkbox11" value="checkbox" /></td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="4">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td height="24">11</td>
                  <td><input type="checkbox" name="checkbox12" value="checkbox" /></td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="4">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td height="35">12</td>
                  <td><input type="checkbox" name="checkbox13" value="checkbox" /></td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="4">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td height="36">13</td>
                  <td><input type="checkbox" name="checkbox14" value="checkbox" /></td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="4">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td height="30">14</td>
                  <td><input type="checkbox" name="checkbox15" value="checkbox" /></td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="4">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td height="31">15</td>
                  <td><input type="checkbox" name="checkbox16" value="checkbox" /></td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="4">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                  <td colspan="2">&nbsp;</td>
                </tr>
              </table>
			  <hr>
			  <table width="525" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="77"><div align="center">
                    <input type="button" name="Button" value="Xoa" />
                  </div></td>
                  <td width="118">Bo chon tat ca</td>
                  <td width="133">Chon tat ca </td>
                  <td width="53">&nbsp;</td>
                  <td width="40">Tro ve </td>
                  <td width="29">&nbsp;</td>
                  <td width="75">Tiep theo </td>
                </tr>
              </table>
			  <p class="descr">&nbsp;</p>
			  <hr>
			  <table width="525" height="172" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td colspan="6" bgcolor="#B2C1C6"><strong>Tim kiem theo ma sinh so sinh vien va xoa </strong></td>
                </tr>
                <tr>
                  <td colspan="3">
                    <div align="left">
                      <input name="textfield" type="text" value="Nhap ma so sinh vien" size="40" />
                    </div></td>
                  <td colspan="3"><div align="center">
                    <input type="submit" name="Submit" value="Tim kiem" />
                  </div></td>
                </tr>
                <tr>
                  <td bgcolor="#B2C1C6">Ma so  </td>
                  <td width="127" bgcolor="#B2C1C6">Ho ten </td>
                  <td bgcolor="#B2C1C6">Ngay sinh </td>
                  <td bgcolor="#B2C1C6">Lop</td>
                  <td bgcolor="#B2C1C6">Dia chi </td>
                  <td bgcolor="#B2C1C6">&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td><input type="button" name="Submit2" value="Xoa" /></td>
                </tr>
                <tr>
                  <td width="71" height="60"><p>&nbsp;</p></td>
                  <td>&nbsp;</td>
                  <td width="77">&nbsp;</td>
                  <td width="92">&nbsp;</td>
                  <td>&nbsp;</td>
                  <td width="52">&nbsp;</td>
                </tr>
              </table>
			  <p class="descr">&nbsp;</p>
			  <p class="descr">&nbsp;</p>
			  <p align="left" class="descr">&nbsp;</p>
			  <p class="descr">&nbsp;</p>
			</div><!--end content-->
			<div class="sidenav">
				
				<ul>
					<li ><h2>PROFILE</h2></li>
					<li ><a href="">XEM PROFILE</a></li>
					<li ><a href="">SUA PROFILE</a></li>
					<li ><h2>QLDSGV</h2></li>
					<li ><a href="">THEM GV</a></li>
					<li ><a href="">CAP NHAT TTGV</a></li>
					<li ><a href="">XOA GV</a></li>					
					<li ><a href="">TIM KIEM GV</a></li>					
					<li ><h2>QLDSSV</h2></li>
					<li ><a href="">THEM SV</a></li>
					<li ><a href="">CAP NHAT TTSV</a></li>
					<li ><a href="">XOA SV</a></li>					
					<li ><a href="">TIM KIEM SV</a></li>					
					<li ><h2>QLDSMH</h2></li>
					<li ><a href="">THEM MH</a></li>
					<li ><a href="">CAP NHAT TTMH</a></li>
					<li ><a href="">XOA MH</a></li>					
					<li ><a href="">TIM KIEM MH</a></li>					
					<li ><h2>QLDSGD</h2></li>
					<li ><a href="">THEM GD</a></li>
					<li ><a href="">CAP NHAT GD</a></li>
					<li ><a href="">XOA GD</a></li>					
					<li ><a href="">TIM KIEM GD</a></li>					
					<li ><A href=""><h5>THAY DOI HE THONG</h5></A></li>
					<li ><A href=""><H5>LOGOUT</h5></A></li>

					
				</ul>
				
			</div><!--end slidebar-->
			<p>&nbsp;</p>
						<p>&nbsp;</p>
									<p>&nbsp;</p>
												<p>&nbsp;</p>
															<p>&nbsp;</p>
		</div><!--end main-->
		<div class = "footer">He thong quan li dang ki tin chi </div>

		
	</div>
	<!--end container-->
	
</body>
</html>
